
*{
    margin: 0;
    height: 0;
}
.body{
    width: 100%;
    height: 100vh;
    background-image: url(download\ \(6\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    width: 450px;
    height: 550px;
    padding: 0px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);

}
.login img{
    width: 40%;
    height: 30%;
    position: relative;
    bottom: 10%;
    left: 110px;
}
.login h1{
    margin: 0;
    padding: 20px 20px;
    color:#fff ;
    text-align: center;
    
}
.login label{
    color: #fff;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin: 10px  0px;

}
.login input[type="text"], 
.login input[type="password"]{
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    color: #fff;
    height: 40px;
    font-size: 20px;
    background-color: peru;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: 5s ease;
}
.login input[type="submit"]:hover{
transform: scale(1.2);
}
.login a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}   
    


